body {
    background-image: url("images/pattern.png");
    color: #444444;
    text-decoration: none;
}

.header {
    overflow: hidden;
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
    width: 100%;
}

.name {
    box-shadow: 5px 5px 10px gray;
    background: #4aaaa5;
    text-align: center;
    float: left;
    font-weight: 600;
    padding: 20px;
    margin-top: 10px;
    margin-left: 250px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
}

.links {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 5px 22px 415px;
    font-size: 16px;
}

.links a {
    margin: 0px 5px;
    text-decoration: none;
    text-align: center;
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

a:link {
    text-decoration: none;
}

.leftPortfolioBox:visited, 
.rightPortfolioBox:visited {
    color: #4aaaa5
  }  

.main {
    border: 2px solid #dddddd;
    width: 960px;
    margin-top: 40px;
    background: #ffffff;
    margin-left: 250px;
    margin-bottom: 100px;
}

.header2 {
    padding: 25px;
    font-weight: 600;
    text-align: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    background: #ffffff;
}

#border {
    border-bottom: 2px solid #dddddd;
}

 .profilePicture {
    float: left;
    margin: 0px 20px 0px 25px;
}

.info {
    background: #ffffff;
    height: 620px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    line-height: 175%;
    margin-bottom: 20px;
}

footer {
    border-top: 8px solid #4aaaa5;
    position: fixed;
    color: #ffffff;
    font-size: xx-small;
    text-align: center;
    background: #444444;
    height: 50px;
    margin-top: 50px;
    bottom: 0px;
    width: 100%;
}

