body {
	background-image: url("images/pattern.png");
    color: #444444;
}

.header{ overflow: hidden;
    background-color: yellow;
    width: 100%;
}


.name { background: blue;
    text-align: center;
    float: left;
    padding:20px;
    margin-left: 250px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 24px;
}

.links {float: left;
    margin: 25px 5px 22px 500px;
    font-size: 18px;
    
}

.main {
    width: 960px;
    margin-top:40px;
    background: gray;
    margin-left: 250px;
}

.header2 {padding: 25px;
    background: green;
}

img {float: left;
    height: 200px;
    width: 150px;
}

.info {background: gray;

}

